<style>body {
    background-color: rgb(25, 62, 25);
}

.textArea {
    background-color: white;
    color: rgb(25, 62, 25);
    border-radius: 5%;
    text-align: center;
    margin-top: 35%;
    padding: 5%;
    margin-left: 2%;
    margin-right: 2%;
    overflow-wrap: break-word;
    margin-bottom: 30%;
}

.button {
    background-color: rgb(178 211 46);
    font-size: larger;
    border: 1px;
    border-style: groove;
}

.buttonForm {
    background-color: rgb(178 211 46);
    font-size: larger;
}

.addresForm {
    font-size: larger;
}

</style>